#seletorDeCores{
    height: 44px;
    border: none;
    overflow: hidden;
    
     list-style-type: none; 
    margin-top: 20px;
  }
  #seletorDeCores:focus {
    outline: none;
  }
  #seletorDeCores option{    
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px;
    margin-right: 10px;
    margin-left: 0px;
    cursor: pointer;
  }
  #labels{
    font-family: 'Montserrat', medium;
    font-size: 18px;
    margin-right: 100px;
    font-weight: normal;
}


/*------------- CABEÇALHO --------------------------*/
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 100px;
    margin-top: -18px;
    margin-left: 20px;
	font-family: 'Montserrat';

}

.cabecalho-titulo{
    margin-right: 130px;
    margin-left: 10px;
    font-size:32px;
    
}
.cabecalho-link{
   text-decoration: none;
   color: black;
   margin-left: 7px;
   margin-right: 7px;
   margin-top: 45px;
   font-size:24px;
}
.arquivadas p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 30px;
}
/*------------- Formulario de Adicao --------------------------*/
.formAdd{
    display: flex;
    flex-direction: row;
    align-items: center;

    max-height: 100px;
    margin-left: 18px;
    margin-top: 20px;
    font-family:'Montserrat',medium;
    font-size:18px;
    color:#000000;
    font-weight: 600;
    text-shadow: none;
}
#input-descricao{
    width:490px;
    height:40px;
    border-color: #50b6cf;
    border-radius:7px;
    margin-right: 20px;
    
}

.btnAdicionar{
    font-family:'Roboto',medium;
    font-size: 25px;
    color: #ffffff;
    width:145px;
    height: 40px;
    background-color: #50b6cf; 
    border-radius: 12px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-align-last: center;
}
/*------------- Botão de adicao --------------------------*/
#btnAddTarefa{
    display: flex;
    max-height: 100px;
    margin-left: 18px;
    margin-top: 20px;
    cursor: pointer;
    
}
#btnAddTarefa p{
    font-family: open sans;
    text-decoration: none;
    size: 24px;
    color: #2196F3;
    margin-left: 10px;
    line-height:27px;
    margin-top:15px;
}