@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*------------- CABEÇALHO --------------------------*/
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 100px;
    margin-top: -18px;
    margin-left: 20px;
	font-family: 'Montserrat';
}

.cabecalho-titulo{
    margin-right: 130px;
    margin-left: 10px;
    font-size:32px;
}
.cabecalho-link{
   text-decoration: none;
   color: black;
   margin-left: 7px;
   margin-right: 7px;
   margin-top: 45px;
   font-size:24px;
}

/*------------------------ ÁREA DA ADIÇÃO DE TAREFAS -------------------------- */
.formAdd{
    display: flex;
    flex-direction: row;
    align-items: center;

    max-height: 100px;
    margin-left: 18px;
    margin-top: 20px;
    font-family:'Montserrat',medium;
    font-size:18px;
    color:#000000;
    
    
}
.labels{
    font-family: 'Montserrat', medium;
    font-size: 18px;
    margin-right: 10px;
}

#input-descricao{
    width:490px;
    height:40px;
    border-color: #50b6cf;
    border-radius:7px;
    margin-right: 20px;
    text-align: center;
}

.btnAdicionar{
    font-family:'Roboto',medium;
    font-size: 25px;
    color: #ffffff;
    width:145px;
    height: 40px;
    background-color: #50b6cf; 
    border-radius: 12px;
    border: none;
    font-weight: 500;
}


/*----------------------- CARTÕES DE TAREFAS -------------------------------------*/
.principalNotas{
    display: flex;
    margin-left: 10px;
}

.rodapeNota{
    margin-top:130px;
    display: flex;
    flex-direction: row-reverse;
}

.itens{
    margin-left: 8px;
    display: flex;
    align-items: center;    
}

.cabecalhoConcluido{
    font-family: 'Roboto',regular;
    color: #2b5a07;
    background-color: #b8ff99;
    font-size:10px;
    /*Separação, requisitos acima*/
    height:25px;
    display: flex;
    align-items: center;    

}
.cabecalhoNaoConcluido{
    font-family: 'Roboto',regular;
    background-color: #ffa4a3;
    color:#e42c28;
    font-size:10px;
    /*Separação, requisitos acima*/
    height: 25px;
    display: flex;
    align-items: center;     
}


/*---------------------------- CORES ---------------------------------------------*/
.listaCores{
    list-style-type: none; 
    display: flex;
    margin-top: 20px;
}

#liAzul{
    width: 20px;
    height: 20px;
    border: solid 1px;
    background-color: #daf5fa;
    margin-right: 10px;
    margin-left: 0px;
}
#liVerde{
    width: 20px;
    height: 20px;
    border: solid 1px;
    background-color: #d1fecb;
    margin-right: 10px; 
}
#liRosa{
    width: 20px;
    height: 20px;
    border: solid 1px;
    background-color: #f6d0f3;
    margin-right: 10px; 
}
#liRoxo{
    width: 20px;
    height: 20px;
    border: solid 1px;
    background-color: #dcd0f3;
    margin-right: 10px; 
}
#liAmarelo{
    width: 20px;
    height: 20px;
    border: solid 1px;
    background-color: #fcfccb;
    margin-right: 10px; 
}
#liLaranja{
    width: 20px;
    height: 20px;
    border: solid 1px;
    background-color: #fbd4b4;
    margin-right: 10px; 
}
#liBranco{
    width: 20px;
    height: 20px;
    border: solid 1px;
    background-color: #ffffff;
    margin-right: 20px; 
}



/*------------- Exemplo 1 - Concluído -------------------------------*/
.cabecalhoNota1{
    display: flex;
    background-color: #b8ff99;
    font-family: 'Roboto',regular;
    color: #2b5a07;
    font-size:10px;
    height: 30px;
    align-items: center;    
}

.notas1{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

    width: 200px;
    height: 200px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.25);
    background-color:#daf5fa;   
}
.corpoNota1{
    font-family: 'Open Sans',sans-serif;
    font-size:20px;
    color: #19b5dc;
    text-decoration: line-through;
    text-decoration-color: #19b5dc;
}

/*------------- Exemplo 2 Não Concluído -------------------------------*/

.cabecalhoNota2{
    background-color: #ffa4a3;
    color:#e42c28;
    font-family: 'Roboto',regular;
    font-size:10px;
    display: flex;
    height: 25px;
}
.notas2{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.25);
    background-color:#dcd0f3;
}

.corpoNota2{
    font-family: 'Open Sans',sans-serif;
    font-size:20px;
    color: #9763f9;
    
}

