.cabecalhoNota .concluido{
    display: flex;
    background-color: #b8ff99;
    font-family: 'Roboto',regular;
    color: #2b5a07;
    font-size:10px;
    height: 30px;
    align-items: center;    
}
.cabecalhoNota .naoConcluido{
    background-color: #ffa4a3;
    color:#e42c28;
    font-family: 'Roboto',regular;
    font-size:10px;
    display: flex;
    height: 25px;
}